@import './common.module.scss';

.main {
  margin-top: 20px;
  height: 550px;
  overflow-y: scroll;
  background: #dfdfdf;

  > p {
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
    color: #333;
  }

  .sec1 {
    margin: 700px 0;
    padding: 20px;
    font-size: 28px;
    background: #222;
    color: #fff;

    ul {
      display: flex;
      background: #333;

      li {
        width: 33.33%;
        text-align: center;
        list-style: none;

        &:not(:last-child) {
          border-right: 1px solid #f1f1f1;
        }
      }
    }
  }
}
